<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!--Setting parameters for path (/servers/5/edit) & attaching parameters to path /servers/5/edit?allowEdit=1 & adding fragment for servers/5/edit?allowEdit=1#loading
      <a
        [routerLink]="['/servers', server.id, 'edit']"
        [queryParams]="{allowEdit:1}"
        fragment='loading'
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
      -->
      <!--Loading route with path /servers/5. Allow editing ==1 only if serverID = 3, else set to 0-->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment='loading'
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--Reloading path. Forward slash will load path, w/o forward slash it will load relative to current path
    <a routerLink="/servers">Reload Page</a> -->
    <!--
    <button class="btn btn-primary" (click)="reloadServers(1)">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>-->

    <router-outlet></router-outlet>
  </div>
</div>

